@page "/identity"

<h1>Identity</h1>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="-20 -20 40 40" width="128">
    <circle cx="0" cy="0" r="16" fill="black" />
    <circle cx="0" cy="0" r="13" fill="white" />

    <path d="M -4 0 L 10 -10 A 14 14 0 0 1 10 10 Z" fill="black" />

    <circle cx="9" cy="-2" r="3" fill="white" />
</svg>

<ul>
    <li>TODO:Need to be polished.</li>
    <li>TODO:We can add a thin black ellipes at the front.</li>
</ul>
