@page "/inbox"

<h1>Inbox</h1>

<p>
    It is recommended to configure the "https" profile in launchSettings.json as a top-level 
    setting. Many web-related features require HTTPS, and having it enabled by default is
    beneficial. Note that you may need to run the "dotnet dev-certs https --trust" command to
    trust the development certificate.
</p>
