@namespace DotNaut.Content
@typeparam TItem

@{
    var parentType = Parent.GetType();
    var projects = parentType
        .Assembly
        .GetTypes()
        .Where(type => type.FullName.StartsWith($"{parentType.Namespace}."))
        .Where(type => typeof(TItem).IsAssignableFrom(type))
        .Select(type => (
            Project: (DotNaut.Project.IProject)Activator.CreateInstance(type),
            Route: type.GetCustomAttributes(false).OfType<Microsoft.AspNetCore.Components.RouteAttribute>().FirstOrDefault()
        ))
    ;
}

<ul>
    @foreach (var item in projects)
    {
        <li>
            <a href=@item.Route?.Template>
                @((item.Project as DotNaut.Ontology.INamed).Get())
            </a>
        </li>
    }
</ul>

@code {
    [Parameter]
    public ComponentBase Parent { get; set; }
}
